# Make ´nano the default editor
export EDITOR="nano"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Highlight matches for GREP
export GREP_OPTIONS='--color=auto'

# Colorful LS
#export CLICOLOR=1
#export LSCOLORS=Exfxcxdxbxegedabagacad


export M2_HOME=/usr/local/maven2
export NODE_PATH=/usr/local/lib/node_modules
export PATH=$M2_HOME/bin:/usr/local/bin:/usr/local/mysql/bin:/usr/local/git/bin:/usr/local/share/npm/bin:$PATH
